#page-title {
    text-align: center;
}

#picture-container {
    border: 1px solid black;
    width: 400px;
    /*height: 400px;*/
    margin: 0 auto;
    border: 2px solid red;
    padding: 20px;
    background: #000;
}

img#image {
    width: 100%;
    border: 2px solid red;
    border-radius: 5px;
}

#picture-css {
    background-image: url(../images/image_2.jpg);
    width: 900px;
    height: 300px;
    margin: 0 auto;
}