#page-title {
    text-align: center;
}

#picture-container {
    border: 1px solid black;
    width: 400px;
    /*height: 400px;*/
    margin: 0 auto;
    border: 2px solid red;
    padding: 20px;
    background: #000;
}

img#image {
    width: 100%;
    border: 2px solid red;
    border-radius: 5px;
}

#picture-css {
    background-image: url(../images/image_2.jpg);
    width: 900px;
    height: 300px;
    margin: 0 auto;
}

#hovers {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url(../images/image_2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#hovers h2 {
    text-align: center;
}

#hovers:hover {
    background-color: #000;
    border: 1px solid red;
    color: white;
    opacity: 1;
}